@charset "UTF-8";

main {
	text-align: center;
}
/* 이미지 중앙정렬 안됨 */
h1 {


}
.body{

}

.img {
	width: 250px;
}

ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

li {
	margin: 0px;
	padding: 0px;
}

fieldset {
	border: 0;
}

legend {
	display: none;
}
.id {
	width: 250px; height: 40px;
}
.id placeholder {
	 font-size: 10px;
}

.pw {
	margin-top: 5px;
	width: 250px; height: 40px;
}

.login {
	margin-top: 5px;
	width: 260px; height: 50px;
	background-color: skyblue;
	color: white;
}

#sign {
	margin-top: 5px;
	width: 260px; height: 50px;
	background-color: white;
	color: black;
}

.ft{
	text-align: center;
	font-size: 10px;
	color: gray;
}